@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-primary: #e6b89c;
  --clr-primary-alpha: #ec731177;
  --clr-primary-text: #220d00;
  --clr-primary-text-alpha: #220d0017;
  --clr-secondary: #006864;
  --clr-secondary-text: #001f1e;
  --clr-secondary-alpha: #0068646c;
  --clr-secondary-alpha-2: #00686525;
  --clr-secondary-alpha-3: #f0fdfd;
  --clr-bg: #fffbf7;
  --clr-bg-alpha-50: #fff4ee75;
  --clr-bg-alpha-0: #eeeeee00;
  --clr-terminal-bg: #ddd;
  --clr-border: #ccc;
  --clr-border-edge: #fff4ee;
  --clr-black: #3a3a3a;
}

* {
  /* color: var(--clr-primary-text); */
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  display: flex;
  background-color: var(--clr-bg);
  height: 100%;
  margin: 0;
  padding: 0;
}

.background-gradient {
  width: 100%;
  height: 30%;
  left: 0;
  background-image: linear-gradient(
    90deg,
    var(--clr-primary),
    var(--clr-border-edge) 26.85%,
    var(--clr-secondary-alpha) 59.66%,
    var(--clr-secondary-alpha-2)
  );
  background-size: 400% 400%;
  animation: backgroundGradient 6s ease infinite;
  animation-play-state: running;
  z-index: -1;
  position: absolute;
}

.background-gradient-cover {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    100% 100% at 50% 0%,
    var(--clr-bg-alpha-0),
    var(--clr-bg) 75%
  );
  z-index: -1;
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  color: var(--clr-primary-text);
}

h1 {
  font-size: 3.5rem;
}

.h1-icon {
  font-size: 2rem;
}

h3 {
  margin-bottom: 0;
}

h1,
h2,
h3,
p {
  font-family: 'Poppins';
}

.middle-names {
  font-weight: normal;
  font-size: 1rem;
}

.content-wrapper {
  display: flex;
  width: 80%;
  height: 100vh;
  margin: auto;
}

nav {
  flex: 1;
  height: 100%;
  /* overflow-x: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  padding-right: 50px;
}

a {
  color: #242424;
}

.tooltip {
  display: flex;
  position: absolute;
  right: 130%; /* Position above the button */
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--clr-border-edge);
  color: var(--clr-black);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s background 0.5;
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  padding: 1rem;
  transition: opacity 0.3s;
}

nav a {
  align-items: center;
  background-color: var(--clr-border-edge);
  color: var(--clr-primary-text);
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  padding: 1rem;
  transition: transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: filter, transform;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  border: 2px solid transparent;
}

nav a:focus {
  filter: drop-shadow(0px 0px 10px 10px var(--clr-primary-text-alpha));
}

nav a:hover {
  border: 2px solid var(--clr-primary);
  transform: translateY(-2px);
}

nav a:active {
  transform: translateY(2px);
}

nav a:hover .tooltip {
  opacity: 1;
}

.about-wrapper {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid var(--clr-primary);
  border-radius: 4px;
  margin-top: 20px;
  height: 700px;
}

.name-title {
  font-family: 'Poppins';
  color: var(--clr-primary-text);
}

.hobbies-wrapper p {
  background-color: var(--clr-border-edge);
  padding: 5px;
  border-radius: 4px;
}

.picture-wrapper {
  align-items: center;
  background-color: var(--clr-bg);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--clr-black);
  justify-content: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.picture-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.about-content {
  flex: 5;
  padding-left: 40px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.about-content h1 {
  padding-top: 50px;
}

.about-content h3 {
  padding-left: 10px;
}

.about-content h1,
.about-content h2,
.about-content h3,
.about-content p {
  padding-left: 30px;
  color: var(--clr-primary-text);
}

.about-content::-webkit-scrollbar {
  display: none;
}

.about-content p {
  line-height: 1.5;
  font-family: 'Lora';
  font-size: 1.1rem;
}

.education-wrapper {
  border-radius: 4px;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}

.education-tile {
  background-color: var(--clr-border-edge);
  border-radius: 4px;
  filter: drop-shadow(0px 10px 5px var(--clr-primary-text-alpha));
  border-bottom: 2px solid var(--clr-primary);
}

.skills-wrapper,
.certs-wrapper {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto; */
  gap: 1rem;
  align-items: center;
  padding: 20px;
}

.cert-icon {
  color: var(--clr-primary-text);
}

.cert-tile {
  background-color: var(--clr-border-edge);
  filter: drop-shadow(0px 10px 5px var(--clr-primary-text-alpha));
  border-bottom: 2px solid var(--clr-primary);
  color: var(--clr-primary-text);
  border-radius: 4px;
  padding: 20px;
  flex: 1 1 20%;
  height: 120px;
  font-family: 'Poppins';
}

.skill-tile {
  background-color: var(--clr-border-edge);
  border-radius: 4px;
  filter: drop-shadow(0px 10px 5px var(--clr-primary-text-alpha));
  border-bottom: 2px solid var(--clr-primary);
  padding: 20px;
  padding-left: 30px;
  flex: 1 1 20%;
  height: 100px;
  font-family: 'Poppins';
}

.cert-tile p {
  padding: 0;
}
.cert-tile a {
  padding: 0;
  color: var(--clr-secondary);
  transition: filter 0.3s ease-in-out;
  font-family: 'Poppins';
}

li {
  font-family: 'Poppins';
}

.experience-title {
  display: flex;
  border-radius: 4px;
  background-color: var(--clr-secondary-alpha-2);
  color: var(--clr-secondary-text);
  align-items: center;
}

.experience-title p {
  color: var(--clr-secondary-text);
}

.experience-title p:first-child {
  border-right: 2px solid var(--clr-secondary);
  padding-right: 20px;
}

.experience-title + ul li {
  font-family: 'Lora';
  line-height: 1.5rem;
}

.experience-title + ul {
  padding-left: 40px;
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.references-wrapper {
  border-left: 2px solid var(--clr-bg);
  border-right: 2px solid var(--clr-bg);
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}

.references-tile p {
  background-color: var(--clr-border-edge);
  border-radius: 4px;
  filter: drop-shadow(0px 10px 5px var(--clr-primary-text-alpha));
  border-bottom: 2px solid var(--clr-primary);
  padding: 20px;
  /* height: 150px; */
  font-family: 'Poppins';
  font-size: 0.8rem;
}

@media all and (max-width: 1440px) {
  .education-tile {
    grid-template-columns: repeat(2, 2fr);
    font-size: 0.8rem;
  }

  .cert-tile {
    font-size: 0.8rem;
  }

  .skill-tile {
    height: 150px;
  }

  .skill-tile > ul li {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 1024px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  .tooltip {
    display: none;
  }

  .background-gradient,
  .background-gradient-cover {
    display: none;
  }

  .content-wrapper {
    width: 100%;
    height: 100vh;
    margin: auto;
  }

  .about-wrapper {
    margin-left: 20px;
  }

  nav {
    background-color: var(--clr-bg);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 99;
  }

  nav a {
    cursor: pointer;
    height: 95%;
    padding: 0px;
    font-size: 1.2rem;
    flex: 1;
    margin: 0;
    margin-bottom: 0;
    border: 2px solid transparent;
    border-radius: unset;
    transition: background-color 0.3s ease-in-out;
  }

  .skill-tile,
  .cert-tile {
    height: 80px;
  }

  nav a:hover,
  nav a:active {
    transform: none;
    box-shadow: none;
    border: 2px solid transparent;
  }

  nav a:active {
    background-color: var(--clr-primary);
  }

  .about-content {
    padding-right: 20px;
  }

  .references-wrapper {
    padding-bottom: 100px;
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .h1-icon {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .about-wrapper {
    flex: 1;
  }

  .about-content {
    flex: 2;
  }

  .about-content h1,
  .about-content h2,
  .about-content h3,
  .about-content p {
    padding-left: 10px;
  }

  .about-content p {
    font-size: 1rem;
  }

  .education-tile {
    width: 150px;
    height: 150px;
  }

  .stars {
    font-size: 0.8rem;
  }

  .cert-tile {
    width: 150px;
    height: 100px;
  }

  .cert-img {
    width: 50px;
  }

  .cert-tile,
  .education-tile {
    margin: 0;
  }

  .certs-wrapper,
  .education-wrapper {
    gap: 1rem;
    padding: 15px;
  }

  .references-tile p {
    font-size: 0.6rem;
  }
}

@media all and (max-width: 425px) {
  .about-content h1 {
    padding-top: 10px;
  }

  .content-wrapper {
    display: block;
    width: 100%;
  }

  nav {
    background-color: var(--clr-bg);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    z-index: 99;
    padding: 0;
  }

  nav a {
    height: 100%;
  }

  .about-wrapper {
    margin: 10px;
  }

  .about-content {
    padding-left: 20px;
  }

  .education-tile {
    height: 100px;
  }

  .cert-tile {
    height: 80px;
  }

  .skill-tile {
    height: 100px;
  }

  .references-tile p {
    height: 60px;
  }
}
